.card {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    border: 1px solid #DBAD39;
    border-radius: 10px;
    position: relative;
    padding-bottom: 20px;
}
.foto {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}
.areaTxt {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

.preco {
    position: absolute;
    right: 15px;
    font-weight: bold;
}